.main-container {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}