.layout-container {
  display: flex;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.02px;
}

.sidebar-container {
  width: 63%;
}

.content-container {
  flex: 1;
}
